/* general stylings */
.center { margin: auto;  }
.flexCenter { display: flex; justify-content: center; align-items: center;  }
.textCenter { text-align: center; }

/* Login */
.activeLoginState { border: 3px solid blue;  }
.logo { height: 200px; width: 200px; } /* logo */ 


/* Course Selection */
.newCourseInput 
	{ font-size: 1.25rem; border: none; border-bottom: 2px solid #BDBDBD; border-radius: 2px;  }
	